/** CSS básico para toda la pagina */

html{
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Gluten';
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex: 1 0 auto;
}



a{
    text-decoration: none;
}

img{
    max-width: 100%;
}

/** HEADER **/


.inicio{
    background-image: url('../img/pagina/nino-vista-trasera-campo-lavanda.jpg');
    background-size: cover;
    background-position: center center;
}


.header{
    background-color: #5D2E8C;
    padding: 1rem 0 3rem 0;
}

.header .inicio{
    background-position: center center;
    background-size: cover;
}

.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

.contenido-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.contenido-header p{
    background-color: #ffffff;
    width: fit-content;
    padding: 1rem
}

.barra{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.barra h1{
    color: #ffffff;
}
.derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacion{
    display: flex;
    flex-direction: column;
}

.navegacion a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;
}

.pieheader{
    display: flex;
    justify-content: center;
}

.pieheader p{
    text-align: center;
}

/** FOOTER **/

.footer{
    margin-top: 1.5rem;
    background-color: #7E5D8C;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenido-footer{
    width: 95%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioFooter{
    width: 100%;

}

.contenido-footer input{
    border: 0;
}
.contenido-footer input[type = email]{
    width: 80%;
    background-color: #D1CFCC;
}



/**  FORMULARIOS METODOS USERS */ 

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.contenido-formulario{
    background-color: #ffffff;
    width: 98%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.container-formulario-centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-formulario-verde{
    margin-top: 1.5rem;
    background-color: #A7C62C;
    width: 90%;
    height: 45rem;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.formulario h3{
    text-transform: uppercase;
    padding: 1rem;
    background-color: #A7C62C;
}
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    width: 85%;
    height: 20%;
}

.campo label{
    flex: 0 0 10rem;
}

.campo input{
    flex: 1;
    border: none;
    background-color: #D1CFCC;
}

.formulario input[type=submit]{
    margin-top: 2rem;
    padding: 1.5rem;
    width: 80%;
    background-color:#D1CFCC;
    border-radius: 15px;
}

.formulario input[type=file]{
    width: 60%;
}


/** ADMI */

.no-admin{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/** FORMULARIOS PANEL ADMI */

.container-formulario-admi{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1rem;
    justify-items: center;
}

.container-formulario-verde-admi{
    background-color: #A7C62C;
    margin-bottom: 5rem;
    border-radius: 5px;
    width: 90%;
    padding: 1rem;
    display: grid;
    align-items: center;
}

.contenido-formulario-admi{
    background-color: #ffffff;
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.campo-admi{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.campo-admi input{
    background-color: #D1CFCC;
    margin-bottom: 1.5rem;
}

.campo-admi input[type=file]{
    width: 80%;
}

.contenido-formulario-admi input[type=submit]{
    margin-top: 2rem;
    padding: 1rem;
    width: 60%;
    background-color:#D1CFCC;
    border-radius: 15px;
}



/** ALERTAS */

.alerta{
    margin-top: 1.5rem;
    color: black;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

.error{
    background-color: red;
}

.exito{
    background-color: green;
}


/** ACCIONES */

.acciones{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.acciones a{
    margin-left: 1rem;
    color: #7E5D8C;
}

/** MENSAJE VERIFICACION **/

.centrar-verificacion{
	margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.verificacion{
    display: flex;
    width: 60%;
    flex-direction: column;
    text-align: center;
}


/** CATEGORIAS */


.contenedor-categorias{
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.contenedor-categorias-verde{
    background-color: #A7C62C;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.categorias{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    height: 90%;
    justify-items: center;
}

.categoria{
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    justify-content: center;
}

.imagenCategoria{
    height: 60%;
    border-radius: 20px;
}

.imagenCategoria img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.categoria p{
    background-color: #A7C62C;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
    width: 100%;
}

.categoria a{
    color: #010101;
    opacity: 1;
    width: 100%;
}


/** FOTO BLANCO NEGRO */

.centrar-blanco-negro{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.foto-blanco-negro{
    background-image: url('../img/pagina/foto-blancoNegro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.texto-blanco-negro{
    width: 85%;
    height: fit-content;
    opacity: 1;
    margin-top: 14.5rem;
    margin-right: .1rem;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
}

/** PERFIL FOTOGRAFO **/

.contenedor-centrar-infoPerfil{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    height: 40%;
    align-items: center;
}

.textoPerfil{
    width: 80%;
    height: fit-content;
    font-size:x-small;
    background-color: #A7C62C;
    text-align: center;
}

.textoPerfil p:last-of-type{
    width: 90%;
    margin-left: 1rem;
}

.imagenPerfil{
    width: 90%;
    height: 60%;
}

.imagenPerfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.trabajos-perfil{
    text-align: center;
}

.contenedor-perfil-verde{
    background-color: #A7C62C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.contenedor-reportaje{
    width: 100px;
    height: 150px;
    
}

.contenedor-reportaje img{
    padding: 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor-centrar-formulario{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.contenedor-formulario-perfil{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campo-form-perfil{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.campo-form-perfil input{
    background-color: #7E5D8C;
    color: #ffffff;
}

.contenedor-formulario-perfil input[type = submit]{
    background-color: #A7C62C;
    border-radius: 5px;
    border: none;
    width: 100%;
    padding: 1rem;
}

/** REPORTAJES */

.tituloReportajes{
    display: flex;
    justify-content: center;
}

.centrar-reportajes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 2rem 0;
}

.flip-card {
	background-color: transparent;
	width: 90%;
	height: 160px;
	perspective: 1000px;
    margin-bottom: 3rem;
}
.flip-card img{
		border-radius: 15px;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
.flip-card a {
		color: #010101;
        opacity: 1;
		text-decoration: none;
		font-weight: bold;
		padding: 10px;
		width: 100%;
}

.flip-card h2{
	text-align: center;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);	
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}
.flip-card-front {
	box-shadow: 0 8px 14px 0 #A7C62C;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 15px;
}
.flip-card-back {
	box-shadow: 0 8px 14px 0 #5D2E8C;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 15px;
	background: #A7C62C;
	color: white;
	transform: rotateY(180deg);
}

.añadirReportaje{
    text-align: center;
    margin-bottom: 2rem;

}

.añadirReportaje a{
    color: #010101;
    opacity: 1;
    padding: 1rem;
    background-color: #A7C62C;
    border-radius: 5px;
}

/** REPORTAJE */

.reportaje-verde{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.centrar-reportaje{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.contenido-texto-reportaje{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.contenido-texto-reportaje p{
    text-align: center;
}

.contenido-texto-reportaje a{
    color: #010101;
}

.contenido-fotos-reportaje{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill);
    align-items: center;
    justify-content: center;
}

.imagen-reportaje{
    
    margin-top: 5rem;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.zoom{
    box-shadow: 0 16px 28px 0 #A7C62C;
    height: 90%;
    padding: 1rem;
    object-fit: cover;
    transition: all .2 ease-in-out;
}

.transition{
    transform: scale(1.2);
}

.form-fotoReportaje{
    margin-bottom: 3rem;
}


/**Sobre nosotros */

.contenedor-nosotros-centrar{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.contenedor-nosotros{
    width: 50%;
}


@media (min-width: 768px){
    .header .inicio{
        min-height: 20rem;
    }

    .contenido-header{
        min-height: 20rem;
    }

    
    .barra{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .derecha{
        align-items: flex-start;
    }

    .navegacion{
        flex-direction: row;
    }

    .navegacion a{
        margin-right: 2rem;
        font-size: 1.8rem;
    }

    .navegacion a:last-of-type{
        margin-right: 0;
    }

    .categorias{
        grid-template-columns: repeat(3, 1fr);
    }

    .categoria{
        width: 65%;
    }

    .foto-blanco-negro{
        height: 355px;
    }

    .texto-blanco-negro{
        width: 30%;
        height: fit-content;
        opacity: 1;
        margin-top: 0;
        margin-right: 1rem;
        text-align: center;
        font-size: medium;
    }

    .formularioFooter{
        width: 30%;
    }

    .flip-card{
        width: 60%;
	    height: 200px;
    }

    .centrar-reportajes{
        grid-template-columns: repeat(3, 1fr);
    }

    .contenido-fotos-reportaje{
        grid-template-columns: repeat(3, 1fr);
    }

    .textoPerfil{
        width: 80%;
        font-size: medium;
    }

    .contenedor-reportaje{
        width: 200px;
        height: 250px;
    }

    .container-formulario-verde{
        width: 60%;
    }

    .acciones{
        flex-direction: row;
    }

    .transition{
        transform: scale(1.8);
    }
}

@media (min-width: 1024px){

    .container-formulario-admi{
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        justify-items: center;
    }

    .flip-card{
        width: 65%;
	    height: 275px;
    }

    .centrar-reportajes{
        grid-template-columns: repeat(4, 1fr);
    }

    .contenido-fotos-reportaje{
        grid-template-columns: repeat(5, 1fr);
    }
    .textoPerfil{
        width: 80%;
        font-size: large;
    }

    .imagenPerfil{
        width: 60%;
    }
}